# entorno
.env
.env.*

# claves y certificados
*.pem
*.key
*.crt

# python
__pycache__/
*.pyc
*.pyo
*.pyd

# virtualenv
.venv/
venv/

# sistema
.DS_Store
Thumbs.db

# logs
*.log

# vscode / editor
.vscode/
.idea/