# ======================================================
# ENV / CONFIG
# ======================================================
.env
.env.*
*.env

# ======================================================
# KEYS / SECURITY
# ======================================================
*.pem
*.key
*.crt
private.pem
public.pem

# ======================================================
# PYTHON
# ======================================================
__pycache__/
*.py[cod]
*$py.class

# ======================================================
# VIRTUAL ENVS
# ======================================================
.venv/
venv/
env/

# ======================================================
# BUILD / DIST
# ======================================================
build/
dist/
*.egg-info/

# ======================================================
# LOGS
# ======================================================
*.log

# ======================================================
# DATABASE LOCAL
# ======================================================
*.db
*.sqlite3

# ======================================================
# SYSTEM FILES
# =================================================